<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="grial" value="http://nuget.uxdivers.com/grial" />
  </packageSources>
  <packageSourceCredentials>
    <grial>
        <add key="Username" value="" />
        <add key="Password" value="" />
    </grial>
  </packageSourceCredentials>
</configuration>
