<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="grial" value="http://nuget.uxdivers.com/grial" />
  </packageSources>
  <packageSourceCredentials>
    <grial>
        <add key="Username" value="david.ortinau@microsoft.com" />
        <add key="Password" value="Wzao/MJDE9" />
    </grial>
  </packageSourceCredentials>
</configuration>
